body{
    background-color: #525252;
}
.centered-form{
	margin-top: 120px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.container {
    margin-top: 100px;
}

#username {
    width: 328px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

#login {
    width: 360px;
    margin-left: 405px;
}

.panel-default p {
    margin-top: 10px;
}
